$primary-color: #cc4646;
$white-color: #fff;
$color-black: #000;
$pink-light-color: #ffb8b8;
$pink-darker-color: #f57676;
$grey-dark1: #333;
$grey-dark2: #777;
$grey-dark3: #a8a8a8;
$grey-dark4: #181818;
$grey-dark5: #6d6d6d;
$grey-light1: #858585;
$grey-light2: #f0f0f0;
$grey-light3: #e4e4e4;
$grey-light4: #fdfdfd;
$grey-light5: #585858;
$grey-light6: #ccc;
$grey-light7: #e9e9e9;

$big-gutter: 6.9rem;
$medium-gutter: 3rem;
$small-gutter: 1.5rem;